<!doctype html>
<html>
<head>
    <title>The Poet's Corner</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
</head>
<body class="index-body">
<div class="container">

    <div class="jumbotron text-center">
      <div class="typewriter">
        <h1 class="index-h1">The Poet's Corner</h1>
      </div>

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default">Login</a>
        <a href="/signup" class="btn btn-default">Signup</a>

    </div>

    <div class="rupi">
      <span>you treat them as if<br> they have a heart like yours <br>but not everyone can be<br>as soft and as tender as you<br>you don't see<br>the person they are<br>you see the person<br>they have the potential to be<br>you give and give till<br>they have taken everything<br>out of you and leave<br>you empty<br> -rupi kaur</span>
      <!-- <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.stanforddaily.com%2Fwp-content%2Fuploads%2F2017%2F01%2F6358946712935403202031547669_kaur.jpg&f=1&nofb=1" alt=""> -->
    </div>

</div>
</body>
</html>
